<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Spyder</title>
    <link href="~/Content/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/primeui-2.2-min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/themes/bluesky/theme.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/spyderpui.css" type="text/css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.3.min.js" vtype="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/primeui-2.2-min.js" type="text/javascript"></script>
    <script src="~/Scripts/spyderjs/layout.js"></script>
</head>
<body>
    <div>
        <h3 class="first">Spyder</h3>
        <div class="pui-menubar ui-widget ui-widget-content ui-corner-all">
            <ul id="barramenu">
                <li>
                    <a data-icon="fa-home">@Html.ActionLink("Principal", "Index", "Home")</a>
                </li>
                <li>
                    <a data-icon="fa-file-o">NFe</a>
                    <ul class="pui-menu">
                        <li><a data-icon="fa-mail-forward">Recebidas</a></li>
                        <li><a data-icon="fa-mail-reply">Emitidas</a></li>
                        <li><a data-icon="fa-gear">Sefaz</a></li>
                    </ul>
                </li>
                <li>
                    <a data-icon="fa-file-o">NFSe</a>
                    <ul class="pui-menu">
                        <li><a data-icon="fa-mail-forward">Recebidas</a></li>
                        <li><a data-icon="fa-mail-reply">Emitidas</a></li>
                        <li><a data-icon="fa-gear">Sefaz</a></li>
                    </ul>
                </li>
                <li>
                    <a data-icon="fa-file-o">CTe</a>
                    <ul class="pui-menu">
                        <li><a data-icon="fa-mail-forward">Recebidas</a></li>
                        <li><a data-icon="fa-mail-reply">Emitidas</a></li>
                        <li><a data-icon="fa-gear">Sefaz</a></li>
                    </ul>
                </li>
                <li>
                    <a data-icon="fa-gear">Cadastros Básicos</a>
                    <ul class="pui-menu">
                        <li>@Html.ActionLink("Estados (UF)", "Index", "Estados")</li>
                        <li>@Html.ActionLink("Cidades", "Index", "Cidades")</li>
                        <li><a href="#">Relações</a></li>
                        <li><a href="#">Banco</a></li>
                        <li><a href="#">Meus Dados</a></li>
                    </ul>
                </li>
                <li>

                <li>
                    <a data-icon="fa-power-off">Quit</a>
                </li>
            </ul>
        </div>
    </div>
    <br /><br />

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Spyder</p>
        </footer>
    </div>

</body>
</html>